:root {
  --happy_background: #22577a;
  --happy_input: #c4c4c4;
  --light_background: #E6E6E6;
  --light_input: #5C7AEA;
  --dark_background: #212020
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light_background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--light_background);
  box-sizing: border-box;
}

.login {
  position: absolute;
  width: 40%;
  height: 138px;
  left: 30%;
  top: 20%;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  text-align: center;
  color: var(--light_input);
  
}

.username-input input {
  position: absolute;
  width: 50%;
  height: 7%;
  left: 27%;
  top: 30%;
  background: var(--light_input);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding: 10px;
  color: #22577a;
  margin-top: 2%;
}

.username-input input:focus, .password-input input:focus {
  outline: none;
}

.password-input input {
  position: absolute;
  width: 50%;
  height: 7%;
  left: 27%;
  top: 38%;
  background: var(--light_input);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  padding: 10px;
  color: #22577a;
  margin-top: 2%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.login-button button {
  position: absolute;
  width: 50%;
  height: 7%;
  left: 27%;
  top: 47%;
  background: #57cc99;
  border-color: #57cc99;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  margin-top: 3%;
}

.connect-buttons button{
  width: 22.5%;
  position: absolute;
  height: 7%;
  top: 58%;
  margin-top: 2%;
  border-radius: 60px;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fb {
  left: 27%;
}

.google {
  left: 54%;
  background-color: #F95B02;
  border-color: #F95B02;
}

.google:hover{
  background-color: #c94a00;
  border-color: #c94a00;
  color: #fff;
}
