.cuadro1{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 300px;
    top: 100px;
    background: #80ED99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.cuadro2{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 520px;
    top: 100px;
    background: #80ED99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.cuadro3{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 740px;
    top: 100px;
    background: #80ED99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.cuadro4{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 960px;
    top: 100px;
    background: #80ED99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.icon1{
    position: absolute;
    width: 172px;
    height: 129px;
    left: 50px;
    top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.icon2{
    position: absolute;
    width: 172px;
    height: 129px;
    left: 50px;
    top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.icon3{
    position: absolute;
    width: 172px;
    height: 129px;
    left: 50px;
    top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.icon4{
    position: absolute;
    width: 172px;
    height: 129px;
    left: 50px;
    top: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.text1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.text2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.text3{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 17px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.text4{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 45px;
    top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.Themes{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
}
.Theme1{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-right: 40px solid grey;
    border-top: 46px solid grey;
    border-left: 40px solid;
    border-bottom: 43px solid;
}
.Theme2{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-right: 40px solid #59D9BA;
    border-top: 46px solid #59D9BA;
    border-left: 40px solid #22577A;
    border-bottom: 43px solid #22577A;
}
.Theme3{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-right: 40px solid #ffffff;
    border-top: 46px solid #ffffff;
    border-left: 40px solid #3D56B2;
    border-bottom: 43px solid #3D56B2;
    
}
.color-chart {
    border-right: 20px solid #59D9BA;
    border-top: 20px solid #22577A;
    border-left: 20px solid #59D9BA;
    border-bottom: 20px solid #22577A;
    border-radius: 100%;
}
.fas{
    margin-left: 15px;
}
#inputss{
    width: 100px;
}
#carta{
    background: silver;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -10px;
    margin-bottom: 5px;
}
#boton{
    margin-left: 90px;
}
#dataUser{
    width: 320px;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 10px;
    font-size: 15px;
}
#dataInsert{
    width: 300px;
    top: 306px;
    background: #57CC99;
    border: none;
}
#insertUser{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 527px;
    top: 70px;
    background: #80ED99;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#btnClick{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 35px;
    left: 600px;
    top: 550px;
    cursor: pointer;
}
#btnClick2{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 35px;
    left: 700px;
    top: 550px;
    cursor: pointer;
}
.ImageProfile{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 750px;
    top: 265px;
    background: silver;
    border-radius: 30px;
    border: 2px solid black;
}
.textImage{
    position: absolute;
    left: 650px;
    top: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.btnClose{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1200px;
    top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    cursor: pointer;
}
